body {
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Lato", sans-serif;
}

/* nav bar */

.nav-bar {
  background-color: transparent;
  height: 50px;
  z-index: 50;
  position: fixed;
  top: 0;
}

.first-bar {
  display: flex;
  flex-direction: column;
  position: relative;
}

.first-bar-items {
  display: none;
}

.menu i {
  color: #272a31;
  padding-left: 30px;
  padding-top: 20px;
  padding-right: 20px;
}

.nav-bar-list {
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #272a31;
  height: 100vh;
  width: 100vw;
}

.nav-bar-list1 {
  list-style: none;
  display: none;
}

.nav-bar-item {
  text-decoration: none;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 32px;
  line-height: 50px;
}

/* intro section */

.intro {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
  padding-left: 50px;
  background-image: url("images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  justify-content: center;
}

.intro h2,
h1 {
  background: url("images/font1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro h2 {
  padding-bottom: 10px;
  font-family: "Crete Round", serif;
  letter-spacing: 0.37px;
}

.intro h1 {
  font-weight: 900;
  font-size: 32px;
  width: 100%;
  letter-spacing: 0.5px;
  font-family: Inter, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.article1 {
  display: flex;
  border: 2px solid #fff;
  background-color: #e2dcdc;
  padding: 20px;
}

.date {
  color: #44464d;
  font-family: Inter, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* main program */
.main-program {
  display: flex;
  flex-direction: column;
  background-color: #272a31;
  height: auto;
}

.heading-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  padding-top: 30px;
  color: #fff;
}

.heading-line {
  background-color: #ec5242;
  border: 1px solid #ec5242;
  width: 50px;
  margin-top: 20px;
}

.program-items {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 10px;
  padding: 20px;
}

.main-program-items {
  display: grid;
  grid-template-columns: 10% 30% 60%;
  border: #44464d;
  background-color: #44464d;
  align-items: center;
  padding: 10px;
}

.main-program-items div i {
  color: #d3d3d3;
  justify-items: center;
  font-size: 2rem;
}

.main-program-items div h3 {
  color: #ec5242;
}

.main-program-items div p {
  color: #d3d3d3;
}

.join {
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  border: 1px solid #ec5242;
  background-color: #ec5242;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 30px;
  align-self: center;
  height: 70px;
}

.join1 {
  display: none;
}

.join:hover {
  background-color: #c4584b;
}

/* speaker section */

.heading1 {
  padding-top: 30px;
}

.speakers {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 10px;
  padding: 20px;
}

.speaker {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-column-gap: 20px;
}

.bgimage {
  position: relative;
  top: 0;
  left: 0;
}

.first {
  position: relative;
  top: 0;
  left: 0;
}

.second {
  position: absolute;
  top: 10px;
  left: 10px;
}

.speakers-line {
  background-color: #d3d3d3;
  border: 1px solid #d3d3d3;
  width: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

footer img {
  border-radius: 50%;
  width: 10%;
  height: 10%;
}

.speakers img {
  width: 100%;
  height: 80%;
}

.hideSpeaker {
  display: none;
}

.description {
  color: #ec5242;
  font-style: oblique;
}

.seeMore {
  display: flex;
  justify-content: center;
}

.more {
  cursor: pointer;
  border: 2px solid #d3d3d3;
  border-radius: 3px;
  background-color: #fff;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 30px;
  align-self: center;
  height: 50px;
}

.partner {
  background-color: #272a31;
  height: 100%;
}

.partner .heading-group {
  padding-bottom: 50px;
}

.partner .heading1 {
  color: #fff;
  font-size: 32px;
  height: 100%;
}

.partner ul {
  text-align: center;
  padding-bottom: 30px;
}

.partner li img {
  width: 50%;
  height: 70%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
}

@media only screen and (min-width: 768px) {
  .first-bar-items {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    background-color: #272a31;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
  }

  .first-bar-items li a {
    text-decoration: none;
    color: #fff;
    padding-right: 20px;
  }

  .nav-bar-list1 li a {
    color: #272a31;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .first-bar-items li a:hover {
    color: bisque;
  }

  /* hide menu */
  .nav-bar {
    display: none;
  }

  .nav-bar-list1 {
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
  }

  .nav-bar-list1 li a:hover {
    color: #ec5242;
  }

  .intro h2 {
    font-family: "Crete Round", serif;
    letter-spacing: 0.37px;
  }

  .intro h1 {
    font-size: 70px;
    font-weight: 900;
    width: 100%;
    letter-spacing: 0.5px;
    font-family: Inter, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  .article1 {
    width: 60%;
  }

  .program-items {
    display: flex;
    column-gap: 10px;
    padding-left: 30px;
    padding-right: 30px;
    height: 50vh;
    align-items: center;
  }

  .main-program-items div p {
    text-align: center;
  }

  .main-program-items {
    display: flex;
    flex-direction: column;
    border: #44464d;
    background-color: #44464d;
    align-items: center;
    padding: 10px;
    justify-content: space-around;
  }

  .join {
    display: none;
  }

  .join1 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 30px;
    color: #fff;
  }

  .join1:hover {
    color: #ec5242;
  }

  .more {
    display: none;
  }

  .hideSpeaker {
    display: grid;
  }

  .speakers {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 40% 40%;
    column-gap: 10px;
  }

  .speakerDescription {
    width: 90%;
  }

  .partner {
    height: 80vh;
  }

  /* logo animation */
  .logo img {
    padding-left: 30px;
    padding-top: 5px;
    border-radius: 50%;
    width: 20%;
    animation: bounce-in-right 4s ease 2;
  }

  @keyframes bounce-in-right {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }

    60% {
      opacity: 1;
      transform: translateX(-30px);
    }

    80% {
      transform: translateX(10px);
    }

    100% {
      transform: translateX(0);
    }
  }
}
